<div class="signup-container">
  <div class="left-container">
    <h2 class="site-name">Fauxbook</h2>
    <div>Make a new friend today</div>
  </div>




  <div class="right-container">
    <div>
      <h2>Sign up</h2>


      <div class="user-sign-up-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="email-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
           <div class="first-name-field name-field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </div>
             <div class="last-name-field name-field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          </div>
          <div class="password-field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
          <div class="password-field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
      </div>

      <div class="devise-links">
        <div class="facebook-signup">
          <%= button_to user_facebook_omniauth_authorize_path, data: {turbo: false} do %>
            Sign <span>up</span> with Facebook
          <% end %>
          <%= image_tag 'facebook-icon.svg', class: 'facebook-icon' %>
        </div>

      </div>
    </div>
  </div>

  <div class="third-container"></div>
</div>
