  <div class="comment-box">
    <%= turbo_frame_tag comment do %>
      <li><%= comment.author.username %></li>
      <li><%= comment.content %></li>
      <% if current_user == comment.author %>
        <li>
          <%= link_to 'Edit Comment',
            edit_user_post_comment_path(comment.author, comment.post, comment)
          %>
          </li>
        <li>
          <%= button_to "Delete Comment",
            user_post_comment_path(comment.author, comment.post, comment),
            method: :delete %>
        </li>
      <% end %>
        <%# render 'likes/like', likeable: comment %>
      <% if comment.liking_users.include?(current_user) %>
          <%= button_to "Unlike", comment_like_path(comment, comment.likes.where(user_id: current_user.id).take), method: :delete, class: 'unlike-btn' %>
        <% else %>
          <%= form_with url: comment_likes_path(comment),
            method: :post do |f| %>
            <%= f.submit 'Like' %>
          <% end %>
        <% end %>
      <br />
      <li><%= comment.display_likes %></li>
    <% end %>
  </div>
