<%= turbo_stream_from comment %>
<%= turbo_frame_tag comment do %>
  <br />
  <div>
    <%= comment.user.email %>
  </div>
  <div>
    <%= link_to 'Edit', edit_comment_path(comment) %>
    <%= button_to "delete", comment_path(comment), method: :delete, data: { turbo_confirm: "Are you sure?" }  %>
  </div>
  <div>Comment body:</div>
  <div><%= comment.body %></div>
  <br />
<% end %>
