<% model = [local_assigns[:commentable], comment].compact %>

<%= form_with model: model,
  id: dom_id_for_records(*model),
  data: local_assigns[:data],
  class: [local_assigns[:class]] do |form| %>

  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :body %>
  <%= form.submit %>
  <%= link_to 'Cancel', comment if comment.persisted? %>
<% end %>
