<% model = [local_assigns[:commentable], comment].compact %>

<%= form_with model: model,
  id: dom_id_for_records(*model) do |form| %>
  <% if form.object.errors.any? %>
    <div class="form-errors">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <%= form.text_field :content, placeholder: 'Write a comment...' %>
  <%= form.submit %>
  <%= link_to 'Cancel', comment if form.object.persisted? %>
<% end %>
