<%= form_with model: comment,
    url: comment.persisted? ? user_post_comment_path(comment.commentable.author, comment.commentable, comment) : user_post_comments_path(@user, @post),
    method: comment.persisted? ? :patch : :post, data: { controller: 'form', action: 'turbo:submit-end->form#reset' } do |form| %>
    <% if comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :content, ': ', class: "hidden" %>
      <%= form.text_field :content, placeholder: 'Write a comment...', data: { 'form-target': 'contentField' } %>
    </div>
    <div class="comment-submit-btn">
      <%= form.submit %>
    </div>
  <% end %>
