<% user = @user %>


<div class="user-page-container">
  <div class="profile-image">
    <div class="user-picture">
      <% if user.profile_picture.attached? %>
        <%= image_tag user.profile_picture, class: 'profile-image-upload' %>
      <% else %>
        <%= image_tag user.gravatar_url %>
      <% end %>
    </div>


    <div class="upload"><%= render 'upload_profile' %></div>
    <ul>
      <li>Name: <%= user.fullname %></li>
      <li>Email: <%= user.email %></li>
    </ul>


      <% if current_user != user &&
    user_signed_in? &&
    !current_user.friends.include?(user)%>

    <div class="add-friend">
      <%= form_with model: @friendship,
        url: user_friendships_path(@user), method: :post do |f| %>
        <%= f.hidden_field :friend_id, value: user.id %>
        <%= f.submit 'Send Friend Request' %>
      <% end %>
    </div>
  <% end %>
  </div>

  <div class="friend-list-container">
      <h2><%= user.fullname %> has
          <%= user.friends.length %>
          friends
      </h2>
      <ul class="friend-list">
        <% current_user.friends.shuffle.first(3).each do |friend| %>
          <li class="friend">
            <ul class="friend-link">
              <%= link_to user_path(friend) do %>
                <li>
                  <% if friend.profile_picture.attached? %>
                    <%= image_tag friend.profile_picture,
                      class: "profile-image-small" %>
                  <% else %>
                    <%= image_tag friend.gravatar_url,
                      class: "profile-image-small" %>
                  <% end %>
                </li>
                <li class="user-name">
                  <%= friend.fullname %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if current_user.friends.length > 2 %>
          <li class="additional-friends-link">
            <%= link_to "See all friends", user_friendships_path(user) %>
            <%#TODO USER ARE NOT AUTHORIZED %>
          </li>
        <% end %>
      </ul>
   </div>




  <div class="user-posts">
    <p><%= user.fullname %>'s Posts</p>

    <% if current_user == user %>
      <%= render 'posts/new_post', user: user %>
    <% end %>

    <ul>
      <%= render 'posts/posts' %>
    </ul>
  </div>
</div>

