<% user = @user %>

<div class="user-navbar">
  <div class="user-name"><%= user.username %>'s Page</div>
  <div class="root-link">
    <div><%= link_to 'Main Page', root_path %></div>
  </div>
  <div class="notifications">
    <div class="friend-requests">
      <div>You have a friend request from:


      </div>
      <%= link_to 'See Friend Requests', user_friendships_path(user) %>
    </div>
  </div>
</div>
<ul>
  <li>Name: <%= user.username %></li>
  <li>Email: <%= user.email %></li>
</ul>

<div class="friend-list">
  <ul>
    <% friend_num = 1 %>
    <% user.friends.each do |friend| %>
    <li>Friend # <%=friend_num %>:
      Friend's name: <%= friend.username %>
    </li>
    <li>
      Friend's email: <%= friend.email %>
    </li>
      <% friend_num += 1 %>
    <% end %>
  </ul>
</div>

<div class="add-friend">
  <%= form_with model: @friendship,
    url: user_friendships_path(@user), method: :post do |f| %>
    <%= f.hidden_field :friend_id, value: user.id %>
    <%= f.submit 'Send Friend Request' %>
  <% end %>
</div>
