<% user = @user %>

<div class="user-navbar">
  <div class="user-name"><%= user.username %>'s Page</div>
  <div class="root-link">
    <div><%= link_to 'Main Page', root_path %></div>
  </div>
  <div class="notifications">
    <div class="friend-requests">
      <div>You have a friend request from:


      </div>
      <%= link_to 'See Friend Requests', user_friendships_path(user) %>
    </div>
  </div>
</div>
<ul>
  <li>Name: <%= user.username %></li>
  <li>Email: <%= user.email %></li>
</ul>
