 <% if current_user == @user %>
  <div><%= @user.username %>'s friend requests</div>


  <ul>
    <% request_num = 1 %>
    <% @friend_requests.each do |fr| %>
      <li>
        Friend Request # <%= request_num %>
      </li>
      <li>
        Name: <%= fr.user.username %>
      </li>
      <li>
        Email: <%= fr.user.email %>
      </li>
      <li>
        <%= form_with model: @friendship,
          url: user_friendship_path(@user.id, fr.id), method: :patch do |f| %>
          <%= f.submit 'Confirm Friend Request' %>
        <% end %>
      </li>
      <li>
        <%= form_with model: @friendship,
          url: user_friendship_path(@user.id, fr.id), method: :delete do |f| %>
          <%= f.submit 'Deny Friend Request' %>
        <% end %>
      </li>
      <% request_num +=1 %>
    <% end %>
  </ul>
<% end %>
