<div class="login-container">
  <div class="left-container">
    <h2 class="site-name">Fauxbook</h2>
    <div>Make a new friend today</div>
  </div>





  <div class="right-container">
    <div>
      <div class="user-login-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="email-field">
            <%= f.label :email, class: 'hidden' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
          </div>
          <div class="password-field">
            <%= f.label :password, class: 'hidden' %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password' %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="remember-field">
              <%= f.label :remember_me %>
              <%= f.check_box :remember_me %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
      </div>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
        <%= image_tag 'facebook-icon.svg', class: 'facebook-icon' %>
      </div>
    </div>
  </div>

  <div class="third-container"></div>
</div>
