<% if current_user.friend_list.include?(post.author)  ||
  current_user == post.author %>
  <div class="post-box" data-controller="time">
    <%= turbo_frame_tag post do %>
      <li class="profile-image-small">
        <% if post.author.profile_picture.attached? %>
          <%= image_tag post.author.profile_picture %>
        <% else %>
          <%= image_tag post.author.gravatar_url %>
        <% end %>
        <%= post.author.fullname %></li>
      <li data-time-target="postTime"><%= post.created_at %></li>
      <br />
      <li>
        <% if post.postable_type == 'TextPost' %>
          <%= post.postable.content %>
        <% else %>
          <%= image_tag post.postable.image, class: 'post-image' %>
        <% end %>
      </li>
      <li><%= link_to 'Edit Post', edit_user_post_path(post.author, post) %></li>
      <li>
        <%= button_to "Delete Post", user_post_path(post.author, post),
          method: :delete %>
      </li>
      <br />
        <%= render 'likes/like', likeable: post %>

      <br />

     <li>
      <%= render partial: 'comments/form', locals: { comment: Comment.new, commentable: post } %>
     </li>
      <%= turbo_stream_from post, :comments %>

        <%= tag.div id: "#{dom_id(post)}_comments" do  %>
          <%= render partial: "comments/comment_with_replies", collection: post.comments.where(parent_id: nil), as: :comment %>
        <% end %>


    <% end %>

  </div>
<% end %>



