<% if current_user.friends.include?(post.author) ||
  current_user == post.author %>
  <div class="post-box">
    <%= turbo_frame_tag post do %>
      <li><%= post.author.username %></li>
      <li><%= post.formatted_date %></li>
      <br />
      <li><%= post.content %></li>
      <li><%= link_to 'Edit Post', edit_user_post_path(post.author, post) %></li>
      <li>
        <%= link_to "Delete Post", user_post_path(post.author, post),
          data: { turbo_method: :delete } %>
      </li>
      <br />
        <%= render 'likes/like', likeable: post %>

      <br />
      <%= render post.comments, post: post %>

     <li>
      <%= turbo_frame_tag "comment_#{post.id}" do %>
      <% end %>
     </li>
    <div class="new-comment-link">
      <%= turbo_frame_tag  id="new_comment", src:new_user_post_comment_path(post.author, post) %>
    </div>
    <% end %>

  </div>
<% end %>



