<!DOCTYPE html>
<html>
  <head>
    <title>SocialNetwork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-nav">
      <div>
        <% if user_signed_in? %>
          <%= link_to current_user.username, user_path(current_user) %></div>
        <% end %>
        <ul>
          <% if user_signed_in? %>
          <li class="log-out-btn link-btn">
            <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
          </li>
          <% else %>
          <li class="link-btn">
            <%= link_to "Sign up here", new_user_registration_path %>
          </li>
          <% end %>

          <% unless user_signed_in? %>
          <li class="link-btn">
            <%= link_to "Sign in", user_session_path %>
          </li>
          <% end %>
        </div>
      <div class="site-name"><%= link_to 'Fauxbook', root_path %></div>

    <div class="flash-message">
      <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
