<!DOCTYPE html>
<html>
  <head>
    <title>Social Network</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="main-nav">
      <div class="flash-message">
        <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
        <% end %>
      </div>


        <% if user_signed_in? %>
          <ul>
            <% else %>
            <li class="link-btn">
              <%= link_to "Sign up here", new_user_registration_path %>
            </li>
        <% end %>

        <% unless user_signed_in? %>
          <li class="link-btn">
            <%= link_to "Sign in", user_session_path %>
          </li>
        <% end %>
        </div>

        <li class="site-name">
          <%= link_to 'Fauxbook', root_path %></div>
        </li>

        <li>
          <% if user_signed_in? %>
            <div class="user-list">
              <%= link_to users_path do %>
                <%= image_tag "friends-icon.svg" %>
              <% end %>
            </div>
          <% end %>
        </li>



    <li class="notification-icon">
        <%= image_tag "bell-icon.svg", class: 'notification-img' %>
      </li>

      <li class="user-picture">
        <% if user_signed_in? %>
        <ul>
          <li class="log-out-btn link-btn">
            <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
          </li>
          <% else %>
          <li class="link-btn">
            <%= link_to "Sign up here", new_user_registration_path %>
          </li>
        <% end %>
        <li>
        <% if current_user.profile_picture.attached? %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.profile_picture, class: "profile-image-med" %>
          <% end %>
        <% else %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.gravatar_url, class: "profile-image-med" %>
          <% end %>
        <% end %>
        </li>
      </li>
    </nav>

    <%= yield %>
  </body>
</html>
